#chatroom {
  display:flex;
  height:100%;
  width:100%;
}

#userListContainer {
  width:200px;
  height:100%;
  background:#eee;
  border-left:1px solid #ccc;
  align-self:flex-end;
}

#messagesContainer {
  display:flex;
  flex-direction:column;
  height:100%;
  justify-content:space-between;
  flex-grow:1;
}
#messages {
  overflow:auto;
}
#messageForm {
  height:50px;
  background:#eee;
  align-self:flex-end;
  width:100%;
  display:flex;
}
#messageForm input {
  height:50px;
  line-height:50px;
}
#messageForm button {
  height:50px;
}
